#lista-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}
#lista-productos li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #dc3545;
}

footer {
  background-color: lightgrey;
  text-align: center;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}